* {
    margin: 0;
    padding: 0;
    color: #0F0F0F;
    flex-direction: column;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
}

*::selection {
    background-color: #f1c42089;
}

body {
    display: flex;
    background-color: #EDEDED;
}

header {
    display: flex;
    background-color: #FF0137;
}

header>.background {
    width: 100%;
    position: absolute;
}

header>.logo {
    width: 55%;
    align-self: center;
    margin-top: 10%;
}

main {
    display: flex;
}

main>.start {
    display: flex;
    background-color: #FF0137;
}

main>.start>.title {
    width: 85%;
    margin-top: 18%;
    font-size: 7.8vw;
    color: #F1C320;
    font-weight: bold;
    align-self: center;
    text-align: center;
}

main>.start>.description {
    width: 80%;
    font-size: 5vw;
    margin-top: 15%;
    font-weight: 500;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 15%;
    text-align: center;
    align-self: center;
}

main>.start>.container-button {
    display: flex;
    position: relative;
}

main>.start>.container-button>.button {
    width: 80%;
    z-index: 1;
    border: none;
    padding: 3.5%;
    display: flex;
    font-size: 5vw;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    align-self: center;
    align-items: center;
    border-radius: 4.5vw;
    text-decoration: none;
    transition-duration: 0.1s;
    background-color: #F1C320;
    transition-timing-function: linear;
    box-shadow: 0 5px 15px rgb(0 0 0 / 40%);
}

main>.start>.container-button>.button:hover {
    background-color: #FF0137;
}

main>.start>.container-button>.bg-button {
    width: 100%;
    padding: 4%;
    bottom: -10%;
    display: flex;
    position: absolute;
    background-color: #EDEDED;
}

main>.phrases {
    display: flex;
    margin-top: 12%;
    background-color: #EDEDED;
}

main>.phrases>.phrase {
    width: 85%;
    display: flex;
    margin-bottom: 12%;
    align-self: center;
    border-radius: 6vw;
    background-color: #ffffff;
}

main>.phrases>.phrase>.title {
    font-size: 7.8vw;
    color: #FF0137;
    align-self: center;
    text-align: center;
    font-weight: normal;
    margin: 8% 0.2% 0% 0.2%;
    font-family: 'Fredoka', sans-serif;
}

main>.phrases>.phrase>.description {
    font-size: 4.9vw;
    font-weight: 500;
    text-align: center;
    margin: 6% 3% 0% 3%;
}

main>.phrases>.phrase>.detail {
    width: 58%;
    padding: 0.8%;
    margin-top: 10%;
    margin-bottom: 8%;
    align-self: center;
    border-radius: 20px;
    background-color: #F1C320;
}

main>.objectives {
    display: flex;
}

main>.objectives>.background-waves {
    width: 100%;
    z-index: -1;
    position: absolute;
}

main>.objectives>.title {
    margin-top: 20%;
    font-size: 7.8vw;
    margin-bottom: 10%;
    text-align: center;
    font-weight: normal;
}

main>.objectives>.title>span {
    color: #ffffff;
    font-family: 'Fredoka', sans-serif;
}

main>.objectives>.title>.highlighted {
    color: #F1C320;
}

main>.objectives>.objective {
    width: 85%;
    padding: 1%;
    display: flex;
    min-height: 70vw;
    margin-bottom: 8%;
    align-self: center;
    border-radius: 35px;
    background-color: #ffffff;
}

main>.objectives>.objective>.icon {
    width: 30%;
    margin-top: 3%;
    align-self: center;
}

main>.objectives>.objective>.description {
    width: 97%;
    margin-top: 5%;
    font-size: 5vw;
    margin-bottom: 6%;
    align-self: center;
    text-align: center;
    font-weight: medium;
}

main>.team {
    display: flex;
    margin-top: 25%;
    margin-bottom: 15%;
}

main>.team>.container-card {
    width: 85%;
    display: flex;
    margin-bottom: 10%;
    align-self: center;
    position: relative;
}

main>.team>.container-card>.image-peoples {
    width: 85%;
    align-self: center;
    position: absolute;
}

main>.team>.container-card>.card {
    padding: 2%;
    margin-top: 52%;
    padding-top: 44%;
    padding-bottom: 8%;
    border-radius: 35px;
    background-color: #ffffff;
}

main>.team>.container-card>.card>.text-main {
    font-size: 5vw;
    font-weight: 500;
}

main>.team>.container-card>.card>.text-main>.employees {
    margin-top: 8%;
    margin-left: 10%;
}

main>.team>.container-card>.card>.text-main>.employees>li {
    color: #FF0137;
}

main>.team>.container-card>.card>.description {
    font-size: 5vw;
    margin-top: 8%;
    font-weight: 500;
    text-align: center;
}

main>.team>.button {
    width: 84%;
    padding: 5%;
    display: flex;
    font-size: 5vw;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    align-self: center;
    border-radius: 20px;
    text-decoration: none;
    transition-duration: 0.1s;
    background-color: #FF0137;
    transition-timing-function: linear;
}

main>.team>.button:hover {
    background-color: #cf0631;
}

main>.member {
    width: 84%;
    display: flex;
    margin-bottom: 14%;
    align-self: center;
}

main>.member>.title>span {
    font-size: 7.8vw;
    font-family: 'Fredoka', sans-serif;
}

main>.member>.title>span:nth-of-type(1) {
    color: #FF0137;
    font-weight: 500;
}

main>.member>.title>.highlighted {
    color: #F1C320;
    font-weight: normal;
}

main>.member>.description {
    font-size: 5vw;
    margin-top: 8%;
    font-weight: 500;
}

main>.form-contact {
    padding-top: 12%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #FF0137;
}

main>.form-contact>.title {
    color: #ffffff;
    font-size: 7.8vw;
    font-weight: bold;
    text-align: center;
}

main>.form-contact>#form {
    display: flex;
    margin-top: 8%;
    margin-bottom: 8%;
}

main>.form-contact>#form>.field {
    width: 95%;
    display: flex;
    margin-bottom: 8%;
    align-self: center;
}

main>.form-contact>#form>.field>label {
    color: #ffffff;
    font-size: 4.4vw;
    font-weight: bold;
    margin-bottom: 3%;
}

main>.form-contact>#form>.field>input {
    padding: 5%;
    border: none;
    color: #FF0137;
    font-size: 4.4vw;
    font-weight: bold;
}

main>.form-contact>#form>.field>input:focus {
    outline: none;
}

main>.form-contact>#form>.button {
    border: none;
    display: flex;
    font-size: 5vw;
    padding: 4% 5%;
    margin-top: 5%;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    align-self: center;
    border-radius: 20px;
    transition-duration: 0.1s;
    background-color: #F1C320;
    transition-timing-function: linear;
}

main>.form-contact>#form>.button:hover {
    background-color: #c9a317;
}