* {
    margin: 0;
    padding: 0;
    color: #0F0F0F;
    flex-direction: column;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
}

*::selection {
    background-color: #f1c42089;
}

body {
    display: flex;
    background-color: #EDEDED;
}

header {
    display: flex;
    background-color: #FF0137;
}

header>.background {
    width: 100%;
    position: absolute;
}

header>.logo {
    width: 55%;
    align-self: center;
    margin-top: 10%;
}

main {
    display: flex;
}

main>.start {
    display: flex;
    background-color: #FF0137;
}

main>.start>.title {
    width: 85%;
    margin-top: 18%;
    font-size: 7.8vw;
    color: #F1C320;
    font-weight: bold;
    align-self: center;
    text-align: center;
}

main>.start>.description {
    width: 80%;
    font-size: 5vw;
    margin-top: 15%;
    font-weight: 500;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 15%;
    text-align: center;
    align-self: center;
}

main>.start>.button {
    width: 80%;
    z-index: 1;
    padding: 3.5%;
    border: none;
    display: flex;
    cursor: pointer;
    color: #ffffff;
    font-size: 5vw;
    font-weight: bold;
    align-self: center;
    border-radius: 20px;
    align-items: center;
    text-decoration: none;
    transition-duration: 0.1s;
    background-color: #F1C320;
    transition-timing-function: linear;
    box-shadow: 0 5px 15px rgb(0 0 0 / 40%);
}

main>.start>.button:hover {
    background-color: #FF0137;
}

main>.start>.bg-button {
    z-index: 0;
    width: 100%;
    padding: 5%;
    display: flex;
    margin-top: 96%;
    position: absolute;
    background-color: #EDEDED;
}

main>.phrases {
    display: flex;
    margin-top: 12%;
    background-color: #EDEDED;
}

main>.phrases>.phrase {
    width: 85%;
    display: flex;
    margin-bottom: 12%;
    align-self: center;
    border-radius: 5vw;
    background-color: #ffffff;
}

main>.phrases>.phrase>.title {
    font-size: 7.8vw;
    color: #FF0137;
    align-self: center;
    text-align: center;
    font-weight: normal;
    margin: 8% 0.2% 0% 0.2%;
    font-family: 'Fredoka', sans-serif;
}

main>.phrases>.phrase>.description {
    font-size: 4.9vw;
    font-weight: 500;
    text-align: center;
    margin: 6% 3% 0% 3%;
}

main>.phrases>.phrase>.detail {
    width: 58%;
    padding: 0.8%;
    margin-top: 10%;
    margin-bottom: 8%;
    align-self: center;
    border-radius: 20px;
    background-color: #F1C320;
}

main>.objectives {
    display: flex;
}

main>.objectives>.background-waves {
    width: 100%;
    z-index: -1;
    position: absolute;
}

main>.objectives>.title {
    margin-top: 25%;
    font-size: 7.8vw;
    text-align: center;
    font-weight: normal;
}

main>.objectives>.title>span {
    color: #ffffff;
    font-family: 'Fredoka', sans-serif;
}

main>.objectives>.title>.highlighted {
    color: #F1C320;
}