* {
    margin: 0;
    padding: 0;
    color: #0F0F0F;
    flex-direction: column;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
}

*::selection {
    background-color: #f1c42089;
}

body {
    display: flex;
    background-color: #EDEDED;
}

header {
    display: flex;
    background-color: #FF0137;
}

header>.background {
    width: 100%;
    position: absolute;
}

header>.logo {
    width: 55%;
    align-self: center;
    margin-top: 10%;
}

main {
    display: flex;
}

main>.start {
    display: flex;
    background-color: #FF0137;
}

main>.start>.title {
    width: 85%;
    margin-top: 18%;
    font-size: 7.8vw;
    color: #ffffff;
    font-weight: bold;
    align-self: center;
    text-align: center;
}

main>.start>.description {
    width: 80%;
    font-size: 5vw;
    margin-top: 15%;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 15%;
    text-align: center;
    align-self: center;
}

main>.start>.container-button {
    display: flex;
    position: relative;
}

main>.start>.container-button>.button {
    width: 80%;
    z-index: 1;
    border: none;
    padding: 3.5%;
    display: flex;
    font-size: 5vw;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    align-self: center;
    align-items: center;
    border-radius: 4.5vw;
    text-decoration: none;
    transition-duration: 0.1s;
    background-color: #F1C320;
    transition-timing-function: linear;
    box-shadow: 0 5px 15px rgb(0 0 0 / 40%);
}

main>.start>.container-button>.button:hover {
    background-color: #FF0137;
}

main>.start>.container-button>.bg-button {
    width: 100%;
    padding: 4%;
    bottom: -10%;
    display: flex;
    position: absolute;
    background-color: #EDEDED;
}

main>.services {
    width: 80%;
    display: flex;
    margin-top: 12%;
    margin-bottom: 15%;
    align-self: center;
    align-items: center;
    background-color: #EDEDED;
}

main>.services>.subtitle {
    color: #FF0137;
    font-weight: bold;
    font-size: 3.5vw;
}

main>.services>.title {
    margin-top: 5%;
    font-size: 7.4vw;
    font-weight: bold;
    margin-bottom: 10%;
    text-align: center;
}

main>.services>.title>span {
    color: #212529;
}

main>.services>.title>.highlighted {
    color: #FF0137;
    font-weight: 800;
}

main>.services>.service {
    display: flex;
    padding-top: 8%;
    margin-bottom: 10%;
    align-items: center;
    background-color: #ffffff;
}

main>.services>.service>.icon {
    width: 30%;
}

main>.services>.service>.title {
    margin-top: 5%;
    color: #212529;
    font-size: 5.8vw;
    margin-bottom: 2%;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

main>.services>.service>.description {
    width: 82%;
    font-size: 4vw;
    color: #767676;
    line-height: 26px;
    text-align: center;
    font-weight: normal;
}

main>.services>.service>.detail {
    width: 100%;
    padding: 0.8%;
    margin-top: 8%;
    background-color: #FF0137;
}

main>.services>.button {
    width: 100%;
    padding: 5%;
    margin-top: 5%;
    font-size: 5vw;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    transition-duration: 0.1s;
    background-color: #FF0137;
    transition-timing-function: linear;
    box-shadow: 0 5px 15px rgb(0 0 0 / 40%);
}

main>.services>.button:hover {
    background-color: #cf0631;
}

main>.objectives {
    display: flex;
}

main>.objectives>.background-waves {
    width: 100%;
    z-index: -1;
    position: absolute;
}

main>.objectives>.container {
    width: 82%;
    display: flex;
    align-self: center;
    align-items: center;
}

main>.objectives>.container>.title {
    width: 100%;
    margin-top: 35%;
    color: #ffffff;
    font-size: 6.4vw;
    font-weight: bold;
    margin-bottom: 10%;
    font-family: 'Poppins', sans-serif;
}

main>.objectives>.container>.objective {
    padding: 1%;
    display: flex;
    margin-bottom: 5%;
    flex-direction: row;
}

main>.objectives>.container>.objective>.icon {
    width: 6%;
    margin-right: 3%;
    align-self: flex-start;
}

main>.objectives>.container>.objective>.description, main>.objectives>.container>.objective>.description>* {
    color: #ffffff;
    font-size: 3.7vw;
    font-weight: normal;
}

main>.objectives>.container>.objective>.description>.highlighted {
    font-weight: 800;
}

main>.announce {
    display: flex;
    margin-top: 8%;
    padding: 5% 0%;
    background-color: #ffffff;
}

main>.announce>.container {
    width: 80%;
    display: flex;
    align-self: center;
}

main>.announce>.container>.title {
    font-size: 5vw;
    font-weight: 500;
    color: #0F0F0F;
    margin-bottom: 5%;
    text-align: center;
}

main>.announce>.container>.announcers {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

main>.announce>.container>.announcers>img {
    width: 80%;
    align-self: center;
    justify-self: center;
}

main>.team {
    display: flex;
    margin-top: 30%;
    margin-bottom: 20%;
}

main>.team>.title {
    width: 90%;
    align-self: center;
    margin-bottom: 15%;
}

main>.team>.title, main>.team>.title>* {
    color: #212529;
    font-size: 7.4vw;
    font-weight: bold;
}

main>.team>.title>.highlighted {
    color: #FF0137;
}

main>.team>.container-card {
    width: 85%;
    display: flex;
    margin-bottom: 10%;
    align-self: center;
    position: relative;
}

main>.team>.container-card>.image-peoples {
    width: 85%;
    align-self: center;
    position: absolute;
}

main>.team>.container-card>.card {
    padding: 2%;
    margin-top: 52%;
    padding-top: 44%;
    padding-bottom: 8%;
    border-radius: 35px;
    background-color: #ffffff;
}

main>.team>.container-card>.card>.text-main {
    font-size: 5vw;
    font-weight: 500;
}

main>.team>.container-card>.card>.text-main>.employees {
    margin-top: 8%;
    margin-left: 10%;
}

main>.team>.container-card>.card>.text-main>.employees>li {
    color: #FF0137;
}

main>.team>.container-card>.card>.description {
    font-size: 5vw;
    margin-top: 8%;
    font-weight: 500;
    text-align: center;
}

main>.team>.button {
    width: 84%;
    padding: 5%;
    display: flex;
    font-size: 5vw;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    align-self: center;
    border-radius: 20px;
    text-decoration: none;
    transition-duration: 0.1s;
    background-color: #FF0137;
    transition-timing-function: linear;
    box-shadow: 0 5px 15px rgb(0 0 0 / 40%);
}

main>.team>.button:hover {
    background-color: #cf0631;
}

main>#form-contact {
    padding-top: 12%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #FF0137;
}

main>#form-contact>.title {
    color: #ffffff;
    font-size: 7.8vw;
    font-weight: bold;
    text-align: center;
}

main>#form-contact>#form {
    display: flex;
    margin-top: 8%;
    margin-bottom: 8%;
}

main>#form-contact>#form>.field {
    width: 95%;
    display: flex;
    margin-bottom: 8%;
    align-self: center;
}

main>#form-contact>#form>.field>label {
    color: #ffffff;
    font-size: 4.4vw;
    font-weight: bold;
    margin-bottom: 3%;
}

main>#form-contact>#form>.field>input {
    padding: 5%;
    border: none;
    color: #FF0137;
    font-size: 4.4vw;
    font-weight: bold;
}

main>#form-contact>#form>.field>input:focus {
    outline: none;
}

main>#form-contact>#form>.button {
    border: none;
    display: flex;
    font-size: 5vw;
    padding: 4% 5%;
    margin-top: 5%;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    align-self: center;
    border-radius: 20px;
    transition-duration: 0.1s;
    background-color: #F1C320;
    transition-timing-function: linear;
}

main>#form-contact>#form>.button:hover {
    background-color: #c9a317;
}

main>.portfolio {
    padding-top: 5%;
    background-color: #FF0137;
}

main>.portfolio>.arts {
    width: 100%;
}